celery
channels
channels-redis
crispy-bootstrap5
daphne
Django
django-celery-results
django-celery-beat
django-crispy-forms
django-oauth2-authcodeflow
django-timezone-field
djangorestframework
drf-spectacular
ocpp
Pillow
psycopg2-binary
redis
requests

sanic
# https://github.com/sanic-org/sanic/issues/3031
websockets==14.1

django-countries
Twisted[tls,http2]
elasticsearch
djangorestframework-simplejwt[crypto]
django-filter
python-logstash-async
pytz
django-credit-cards
django-seriously